{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
    <title>Document</title>
</head>
<body>
    <main class="container">
 
        <!-- Left Column / Headphones Image -->
        <div class="left-column">
          {% comment %} <img data-image="black" src="images/black.png" alt="">
          <img data-image="blue" src="images/blue.png" alt=""> {% endcomment %}
          <img data-image="red" class="active" src="{{E_details.E_images.url}}" alt="" style="width: 500px; margin-top:70px;">
        </div>
       
       
        <!-- Right Column -->
        <div class="right-column">
       
          <!-- Product Description -->
          <div class="product-description">
            <h1 style="">Name : {{E_details.E_name}}</h1>
            <h3>Date : {{E_details.E_date}}</h3>
            <h3>Time : {{E_details.E_time}}</h3>
            <h4>Event Releted : {{E_details.E_releted}}</h4>
            <a href="{% url 'back' %}"><h3 style="margin-bottom: 0px; border:1px solid black; text-align: center; border-radius: 2px; color: white; background-color: black;">Back To Page</h3></a><br>
            
          </div>
       

      </main>
<script>
      $(document).ready(function() {
 
        $('.color-choose input').on('click', function() {
            var headphonesColor = $(this).attr('data-image');
       
            $('.active').removeClass('active');
            $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
            $(this).addClass('active');
        });
       
      });
</script>
</body>
</html>