{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/member.css' %}">
</head>
<body>
<center>
<h1 class="h1">Society Members</h1>
</center>
<div class="row">
  {% for i in  members%}
  <div class="column">
    <div class="card">
      <center>
      <img src="{{i.propic.url}}" alt="Jane" width="200px" height="200px"></center>
      <div class="container">
        <h2>{{i.name}}</h2>
        <p class="title">Society Members</p>
        <p class="address">{{i.address}}</p>
        <p>{{i.email}}</p>
        <p><a href="{% url 'details' i.id %}"><button class="button">Details</button></a></p>
      </div>
    </div>
  </div>
  {% endfor %}
  {% comment %} <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div> {% endcomment %}
</div>

</body>
</html>
